.item {
    display:          flex;
    align-items:      center;
    justify-content:  space-between;
    padding:          12px 30px;
    width:            50%;
    background-color: #f1f1f1;
    }

.item:hover {
    background-color: #8c8d84;
    }

.info {
    display:     flex;
    align-items: center;
    }
