.SubMenu {
    position:         absolute;
    float:            left;
    min-width:        160px;
    padding:          5px 0;
    margin:           2px 0 0;
    font-size:        14px;
    text-align:       left;
    list-style:       none;
    background-color: #fff;
    background-clip:  padding-box;
    border:           1px solid #ccc;
    border:           1px solid rgba(0, 0, 0, .15);
    border-radius:    4px;
    display:          none;
    }

.RootSubMenu {
    display: block;
    }

.DropDownSubMenu {
    position: relative;
    }

.DropDownSubMenu .SubMenu {
    top:        0px;
    left:       100%;
    margin-top: -1px;
    }

.DropDownSubMenu:hover > .SubMenu {
    display: block;
    }
